{% extends 'BackOffice/baseadmin.html' %}
{% block styles %}{% endblock styles %}
{% block title %}Home Admin{% endblock title %}
{% load humanize %}
{% block body %}

<div class="container">
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">commandes (mois)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{commande_mensuels|intcomma}} DZD</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">commandes (annuels)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{commande_annuels|intcomma}} DZD</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if request.user.is_superuser%}
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Vendeurs</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_vendeurs|intcomma}}</div>
              {%else%}
              <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="{%url 'shop'%}"> Visiter la Boutique</a></div>
              {%endif%}

            </div>
            <div class="col-auto">
              <i class="fas fa-store fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"><a href="{% url 'HomeProductAdmin' %}">Produits</a></div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_produits|intcomma}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}





{% block scripts %}{% endblock scripts %}
