{% extends 'BackOffice/baseadmin.html' %}
{% load static %}
{% load commandes_extras %}
{% block styles %}
<link href="{% static '/admn/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock styles %}


{% block title %}commandes passé dressme {% endblock title %}

{% block body %}


<div class="container">
  <h1 class="h3 mb-2 text-gray-800">Commandes <small class="text-warning font-weight-light">({{commandes_all_count}})</small></h1>
<br>

  <div class="container">
    <div class="row">
      {% for commande in commandes %}
      <div class="col-md-4">
        <div class="card shadow mb-4 border">
                <a href="#collapseCommande{{ forloop.counter }}" class="d-block card-header py-3 bg-primary" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCommande{{ forloop.counter }}">
                  <h6 class="m-0 font-weight-bold text-white">{{commande.created_at}}</h6>
                </a>
                <div class="collapse" id="collapseCommande{{ forloop.counter }}" style="">
                  <div class="card-body">
                    <b class="text-primary"> <i class='fa fa-calendar'></i> Etat de la commande:</b> <br>
                    <a href="#" class="badge badge-info"> {{commande.etat}} </a> <hr>

                      <b class='text-primary'> <i class="fa fa-box-open"></i> liste des produits:</b><br>
                      {% for item in commande.commandeitem_set.all %}
                        {{item.produit}}-Qtt-{{item.qtt}}   <a href="#" class="badge badge-secondary"> {{item.total}} DZD</a> <br>

                      {%endfor%}
                      <hr>

                    <b class='text-primary'><i class="fa fa-truck"></i> livraison:</b><br>
                    {{commande.adresse}} {{commande.wilaya}} {{commande.commune}} <a href="#" class="badge badge-secondary"> {{commande.livraison}} DZD</a>
                    <hr>
                    <b class='text-primary'><i class="fa fa-envelope"></i> contact:</b><br>
                    {{commande.email}}<br>
                    {{commande.telephone}}<hr>
                    <div class="text-right">
                      <a href="#" class="badge badge-success">Total {{commande.getTotal}} DZD</a>
                    </div>

                  </div>
                </div>
              </div>
      </div>
      {%endfor%}
    </div>
  </div>

</div>



<div class="container">


  <span class="current">
      Page {{ commandes.number }} sur {{ commandes.paginator.num_pages }}.
  </span>


  <ul class="pagination">
    {% if commandes.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1&mindate={{request.GET.mindate}}&maxdate={{request.GET.maxdate}}&keyword={{ request.GET.keyword }}"> << </a>
    </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ commandes.previous_page_number }}&mindate={{request.GET.mindate}}&maxdate={{request.GET.maxdate}}&keyword={{ request.GET.keyword }}" tabindex="-1">{{ commandes.previous_page_number }}</a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="#"> {{ commandes.number }}</a>
      </li>
      {% if commandes.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ commandes.next_page_number }}&mindate={{request.GET.mindate}}&maxdate={{request.GET.maxdate}}&keyword={{ request.GET.keyword }}"> {{ commandes.next_page_number }} </a>
      </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ commandes.paginator.num_pages }}&mindate={{request.GET.mindate}}&maxdate={{request.GET.maxdate}}&keyword={{ request.GET.keyword }}" tabindex="-1"> >> </a>
        </li>
        {% endif %}
    </ul>
</div>



{% endblock body %}





{% block scripts %}
<!-- Page level plugins -->
<script src="{% static '/admn/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/admn/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admn/js/list_table_commands.js' %}"></script>



<!-- Page level custom scripts -->


{% endblock scripts %}
