<nav class='main-nav py-2 bg-white'>
  <div class="container-fluid text-center text-night px-0">
    <div class='row px-0'>
      <div class=' col-4 main-nav-item'><a href="{% url 'edit_profile'%}"><i class="fa fa-user"></i><br> Compte</a></div>
      <div class=' col-4 main-nav-item'><a href="{% url 'shop'%}"><i class="fas fa-store"></i><br> Boutique</a></div>
      <div class=' col-4 main-nav-item cart-tab-header'><a href="#"><i class="fa fa-shopping-cart"></i><br> Panier</a></div>
    </div>
  </div>
</nav>
<!-- <div class="loading" id='load'>
  <div class="spinner-container text-center">
    <div class="spinner-grow text-day" role="status">
      <span class="sr-only">Chargement...</span>
    </div>
  </div>
</div> -->
