<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Site Admin </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{%url 'edit_profile'%}">
      <i class="fas fa-user"></i>
      <span>Compte</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Articles
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="{% url 'HomeProductAdmin'%}" >
      <i class="fas fa-box-open"></i>
      <span>Articles</span>
    </a>
    <!-- <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="toggle-transparent bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Gérez vos produits:</h6>
        <a class="collapse-item" href="{% url 'HomeProductAdmin'%}" style=''>Tous les produits</a>
        <a class="collapse-item" href="{% url 'NewProduct'%}" style=''>Ajouter</a>
      </div>
    </div> -->
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Heading -->
  <div class="sidebar-heading">
    Commandes
  </div>


  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html" href="#" data-toggle="collapse" data-target="#collapseCommandes" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Commandes</span></a>
      <div id="collapseCommandes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="toggle-transparent bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Gestion commandes:</h6>
          <a class="collapse-item"   href="{% url 'HomeCommandeAdmin'%}">Commandes reçues </a>
          <a class="collapse-item"   href="{% url 'HomeCommandePasseAdmin'%}">Commandes efectuées</a>
        </div>
      </div>
  </li>
  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Heading -->
  <!-- <div class="sidebar-heading">
    Apparence
  </div> -->
  <!-- Nav Item - Tables -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="charts.html" href="#" data-toggle="collapse" data-target="#collapseApparences" aria-expanded="true" aria-controls="collapsePages">
      <i class="fas fa-fw fa-paint-brush"></i>
      <span>Apparence</span></a>
      <div id="collapseApparences" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="toggle-transparent bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Géstion visuels:</h6>
          <a class="collapse-item" href="login.html">Slider</a>
          <a class="collapse-item" href="register.html">Banners</a>
          <a class="collapse-item" href="register.html">Menu</a>
        </div>
      </div>
  </li> -->


{%if request.user.is_superuser%}
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Heading -->
  <div class="sidebar-heading">
    Vendeurs
  </div>
  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'HomeAccountAdmin'%}">
      <i class="fas fa-fw fa-users"></i>
      <span>Vendeurs</span></a>
  </li>
{%endif%}

<hr class="sidebar-divider d-none d-md-block">
<div class="sidebar-heading">
  Payments
</div>
<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="nav-link" href="{% url 'HomePaymentAdmin'%}">
    <i class="fas fa-money-bill"></i>
    <span>Historique</span></a>
</li>

  <!-- <hr class="sidebar-divider d-none d-md-block"> -->

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
<script>
//   function eventFire(el, etype){
//   if (el.fireEvent) {
//     el.fireEvent('on' + etype);
//   } else {
//     var evObj = document.createEvent('Events');
//     evObj.initEvent(etype, true, false);
//     el.dispatchEvent(evObj);
//   }
// }
// setTimeout(function(){eventFire(document.getElementById('sidebarToggle'), 'click');},3000)

</script>
